{{#extend "additional_styles"}}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
{{/extend}}

{{#extend "additional_scripts"}}
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
{{/extend}}


<div style="margin:15px">
	<div class="row-fluid" style="background-color:#fcc">
		<!-- NOTE DENSITY -->
		<div class="span1 offset2">
			<label for="note-density-1">Note Density 1</label>
			<div id="note-density-1"></div>
		</div>
		<div class="span1">
			<label for="note-density-2">Note Density 2</label>
			<div id="note-density-2"></div>
		</div>
		<div class="span1">
			<label for="note-density-3">Note Density 3</label>
			<div id="note-density-3"></div>
		</div>
		<div class="span1">
			<label for="note-density-4">Note Density 4</label>
			<div id="note-density-4"></div>
		</div>
		<div class="span1">
			<label for="note-density-5">Note Density 5</label>
			<div id="note-density-5"></div>
		</div>
		<div class="span1">
			<label for="note-density-6">Note Density 6</label>
			<div id="note-density-6"></div>
		</div>
		<div class="span1">
			<label for="note-density-7">Note Density 7</label>
			<div id="note-density-7"></div>
		</div>
		<div class="span1">
			<label for="note-density-8">Note Density 8</label>
			<div id="note-density-8"></div>
		</div>
	</div>
	
	<!-- CHORD DENSITY -->
	<div class="row-fluid" style="background-color:#cfc">
		<div class="span1 offset2">
			<label for="chord-density-1">Chord Density 1</label>
			<div id="chord-density-1"></div>
		</div>
		<div class="span1">
			<label for="chord-density-2">Chord Density 2</label>
			<div id="chord-density-2"></div>
		</div>
		<div class="span1">
			<label for="chord-density-3">Chord Density 3</label>
			<div id="chord-density-3"></div>
		</div>
		<div class="span1">
			<label for="chord-density-4">Chord Density 4</label>
			<div id="chord-density-4"></div>
		</div>
		<div class="span1">
			<label for="chord-density-5">Chord Density 5</label>
			<div id="chord-density-5"></div>
		</div>
		<div class="span1">
			<label for="chord-density-6">Chord Density 6</label>
			<div id="chord-density-6"></div>
		</div>
		<div class="span1">
			<label for="chord-density-7">Chord Density 7</label>
			<div id="chord-density-7"></div>
		</div>
		<div class="span1">
			<label for="chord-density-8">Chord Density 8</label>
			<div id="chord-density-8"></div>
		</div>
	</div>
	
	<!-- DYNAMICS -->
	<div class="row-fluid" style="background-color:#ccf">
		<div class="span1 offset2">
			<label for="dynamics-1">Dynamics 1</label>
			<div id="dynamics-1"></div>
		</div>
		<div class="span1">
			<label for="dynamics-2">Dynamics 2</label>
			<div id="dynamics-2"></div>
		</div>
		<div class="span1">
			<label for="dynamics-3">Dynamics 3</label>
			<div id="dynamics-3"></div>
		</div>
		<div class="span1">
			<label for="dynamics-4">Dynamics 4</label>
			<div id="dynamics-4"></div>
		</div>
		<div class="span1">
			<label for="dynamics-5">Dynamics 5</label>
			<div id="dynamics-5"></div>
		</div>
		<div class="span1">
			<label for="dynamics-6">Dynamics 6</label>
			<div id="dynamics-6"></div>
		</div>
		<div class="span1">
			<label for="dynamics-7">Dynamics 7</label>
			<div id="dynamics-7"></div>
		</div>
		<div class="span1">
			<label for="dynamics-8">Dynamics 8</label>
			<div id="dynamics-8"></div>
		</div>
	</div>

</div>


{{#extend "deferred_scripts"}}
	<script>
		socket.on("init", function(data) {
			var state = data.state;
			var roleIndex = data.role.position;
			var roleState = state.mids[roleIndex];
		
			var $noteDensitySlider1 = $('#note-density-1').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.noteDensity[0]
			});

			var $noteDensitySlider2 = $('#note-density-2').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.noteDensity[1]
			});

			var $noteDensitySlider3 = $('#note-density-3').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.noteDensity[2]
			});

			var $noteDensitySlider4 = $('#note-density-4').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.noteDensity[3]
			});

			var $noteDensitySlider5 = $('#note-density-5').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.noteDensity[4]
			});

			var $noteDensitySlider6 = $('#note-density-6').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.noteDensity[5]
			});

			var $noteDensitySlider7 = $('#note-density-7').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.noteDensity[6]
			});

			var $noteDensitySlider8 = $('#note-density-8').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.noteDensity[7]
			});



			var $chordDensitySlider1 = $('#chord-density-1').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.chordDensity[0]
			});

			var $chordDensitySlider2 = $('#chord-density-2').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.chordDensity[1]
			});

			var $chordDensitySlider3 = $('#chord-density-3').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.chordDensity[2]
			});

			var $chordDensitySlider4 = $('#chord-density-4').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.chordDensity[3]
			});

			var $chordDensitySlider5 = $('#chord-density-5').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.chordDensity[4]
			});

			var $chordDensitySlider6 = $('#chord-density-6').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.chordDensity[5]
			});

			var $chordDensitySlider7 = $('#chord-density-7').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.chordDensity[6]
			});

			var $chordDensitySlider8 = $('#chord-density-8').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.chordDensity[7]
			});


			var $dynamicsSlider1 = $('#dynamics-1').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.dynamics[0]
			});

			var $dynamicsSlider2 = $('#dynamics-2').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.dynamics[1]
			});

			var $dynamicsSlider3 = $('#dynamics-3').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.dynamics[2]
			});

			var $dynamicsSlider4 = $('#dynamics-4').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.dynamics[3]
			});

			var $dynamicsSlider5 = $('#dynamics-5').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.dynamics[4]
			});

			var $dynamicsSlider6 = $('#dynamics-6').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.dynamics[5]
			});

			var $dynamicsSlider7 = $('#dynamics-7').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.dynamics[6]
			});

			var $dynamicsSlider8 = $('#dynamics-8').slider({
			  orientation: 'vertical',
			  range: 'min',
			  min: 0,
			  max: 15,
			  value: roleState.dynamics[7]
			});


			$noteDensitySlider1.on(
				"slidechange", function( event, ui ) {
					console.log('noteDensitySlider1 changed to ' + ui.value);
					roleState.noteDensity[0] = ui.value;
					socket.emit('state.change', state);
				});

			$noteDensitySlider2.on(
				"slidechange", function( event, ui ) {
					console.log('noteDensitySlider2 changed to ' + ui.value);
					roleState.noteDensity[1] = ui.value;
					socket.emit('state.change', state);
				});

			$noteDensitySlider3.on(
				"slidechange", function( event, ui ) {
					console.log('noteDensitySlider3 changed to ' + ui.value);
					roleState.noteDensity[2] = ui.value;
					socket.emit('state.change', state);
				});

			$noteDensitySlider4.on(
				"slidechange", function( event, ui ) {
					console.log('noteDensitySlider4 changed to ' + ui.value);
					roleState.noteDensity[3] = ui.value;
					socket.emit('state.change', state);
				});

			$noteDensitySlider5.on(
				"slidechange", function( event, ui ) {
					console.log('noteDensitySlider5 changed to ' + ui.value);
					roleState.noteDensity[4] = ui.value;
					socket.emit('state.change', state);
				});

			$noteDensitySlider6.on(
				"slidechange", function( event, ui ) {
					console.log('noteDensitySlider6 changed to ' + ui.value);
					roleState.noteDensity[5] = ui.value;
					socket.emit('state.change', state);
				});

			$noteDensitySlider7.on(
				"slidechange", function( event, ui ) {
					console.log('noteDensitySlider7 changed to ' + ui.value);
					roleState.noteDensity[6] = ui.value;
					socket.emit('state.change', state);
				});

			$noteDensitySlider8.on(
				"slidechange", function( event, ui ) {
					console.log('noteDensitySlider8 changed to ' + ui.value);
					roleState.noteDensity[7] = ui.value;
					socket.emit('state.change', state);
				});


			$chordDensitySlider1.on(
				"slidechange", function( event, ui ) {
					console.log('chordDensitySlider1 changed to ' + ui.value);
					roleState.chordDensity[0] = ui.value;
					socket.emit('state.change', state);
				});

			$chordDensitySlider2.on(
				"slidechange", function( event, ui ) {
					console.log('chordDensitySlider2 changed to ' + ui.value);
					roleState.chordDensity[1] = ui.value;
					socket.emit('state.change', state);
				});

			$chordDensitySlider3.on(
				"slidechange", function( event, ui ) {
					console.log('chordDensitySlider3 changed to ' + ui.value);
					roleState.chordDensity[2] = ui.value;
					socket.emit('state.change', state);
				});

			$chordDensitySlider4.on(
				"slidechange", function( event, ui ) {
					console.log('chordDensitySlider4 changed to ' + ui.value);
					roleState.chordDensity[3] = ui.value;
					socket.emit('state.change', state);
				});

			$chordDensitySlider5.on(
				"slidechange", function( event, ui ) {
					console.log('chordDensitySlider5 changed to ' + ui.value);
					roleState.chordDensity[4] = ui.value;
					socket.emit('state.change', state);
				});

			$chordDensitySlider6.on(
				"slidechange", function( event, ui ) {
					console.log('chordDensitySlider6 changed to ' + ui.value);
					roleState.chordDensity[5] = ui.value;
					socket.emit('state.change', state);
				});

			$chordDensitySlider7.on(
				"slidechange", function( event, ui ) {
					console.log('chordDensitySlider7 changed to ' + ui.value);
					roleState.chordDensity[6] = ui.value;
					socket.emit('state.change', state);
				});

			$chordDensitySlider8.on(
				"slidechange", function( event, ui ) {
					console.log('chordDensitySlider8 changed to ' + ui.value);
					roleState.chordDensity[7] = ui.value;
					socket.emit('state.change', state);
				});


			$dynamicsSlider1.on(
				"slidechange", function( event, ui ) {
					console.log('dynamicsSlider1 changed to ' + ui.value);
					roleState.dynamics[0] = ui.value;
					socket.emit('state.change', state);
				});

			$dynamicsSlider2.on(
				"slidechange", function( event, ui ) {
					console.log('dynamicsSlider2 changed to ' + ui.value);
					roleState.dynamics[1] = ui.value;
					socket.emit('state.change', state);
				});

			$dynamicsSlider3.on(
				"slidechange", function( event, ui ) {
					console.log('dynamicsSlider3 changed to ' + ui.value);
					roleState.dynamics[2] = ui.value;
					socket.emit('state.change', state);
				});

			$dynamicsSlider4.on(
				"slidechange", function( event, ui ) {
					console.log('dynamicsSlider4 changed to ' + ui.value);
					roleState.dynamics[3] = ui.value;
					socket.emit('state.change', state);
				});

			$dynamicsSlider5.on(
				"slidechange", function( event, ui ) {
					console.log('dynamicsSlider5 changed to ' + ui.value);
					roleState.dynamics[4] = ui.value;
					socket.emit('state.change', state);
				});

			$dynamicsSlider6.on(
				"slidechange", function( event, ui ) {
					console.log('dynamicsSlider6 changed to ' + ui.value);
					roleState.dynamics[5] = ui.value;
					socket.emit('state.change', state);
				});

			$dynamicsSlider7.on(
				"slidechange", function( event, ui ) {
					console.log('dynamicsSlider7 changed to ' + ui.value);
					roleState.dynamics[6] = ui.value;
					socket.emit('state.change', state);
				});

			$dynamicsSlider8.on(
				"slidechange", function( event, ui ) {
					console.log('dynamicsSlider8 changed to ' + ui.value);
					roleState.dynamics[7] = ui.value;
					socket.emit('state.change', state);
				});
		});
	</script>
{{/extend}}