{{#extend "additional_styles"}}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
{{/extend}}

{{#extend "additional_scripts"}}
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
{{/extend}}


<div style="margin:15px">
	<div class="row-fluid" style="background-color:#fcc">
		<!-- NOTE DENSITY -->
		<div class="span1 offset2">
			<label for="note-density-1">Note Density 1</label>
			<div id="note-density-1"></div>
		</div>
		<div class="span1">
			<label for="note-density-2">Note Density 2</label>
			<div id="note-density-2"></div>
		</div>
		<div class="span1">
			<label for="note-density-3">Note Density 3</label>
			<div id="note-density-3"></div>
		</div>
		<div class="span1">
			<label for="note-density-4">Note Density 4</label>
			<div id="note-density-4"></div>
		</div>
		<div class="span1">
			<label for="note-density-5">Note Density 5</label>
			<div id="note-density-5"></div>
		</div>
		<div class="span1">
			<label for="note-density-6">Note Density 6</label>
			<div id="note-density-6"></div>
		</div>
		<div class="span1">
			<label for="note-density-7">Note Density 7</label>
			<div id="note-density-7"></div>
		</div>
		<div class="span1">
			<label for="note-density-8">Note Density 8</label>
			<div id="note-density-8"></div>
		</div>
	</div>
	
	<!-- CHORD DENSITY -->
	<div class="row-fluid" style="background-color:#cfc">
		<div class="span1 offset2">
			<label for="chord-density-1">Chord Density 1</label>
			<div id="chord-density-1"></div>
		</div>
		<div class="span1">
			<label for="chord-density-2">Chord Density 2</label>
			<div id="chord-density-2"></div>
		</div>
		<div class="span1">
			<label for="chord-density-3">Chord Density 3</label>
			<div id="chord-density-3"></div>
		</div>
		<div class="span1">
			<label for="chord-density-4">Chord Density 4</label>
			<div id="chord-density-4"></div>
		</div>
		<div class="span1">
			<label for="chord-density-5">Chord Density 5</label>
			<div id="chord-density-5"></div>
		</div>
		<div class="span1">
			<label for="chord-density-6">Chord Density 6</label>
			<div id="chord-density-6"></div>
		</div>
		<div class="span1">
			<label for="chord-density-7">Chord Density 7</label>
			<div id="chord-density-7"></div>
		</div>
		<div class="span1">
			<label for="chord-density-8">Chord Density 8</label>
			<div id="chord-density-8"></div>
		</div>
	</div>
	
	<!-- DYNAMICS -->
	<div class="row-fluid" style="background-color:#ccf">
		<div class="span1 offset2">
			<label for="dynamics-1">Dynamics 1</label>
			<div id="dynamics-1"></div>
		</div>
		<div class="span1">
			<label for="dynamics-2">Dynamics 2</label>
			<div id="dynamics-2"></div>
		</div>
		<div class="span1">
			<label for="dynamics-3">Dynamics 3</label>
			<div id="dynamics-3"></div>
		</div>
		<div class="span1">
			<label for="dynamics-4">Dynamics 4</label>
			<div id="dynamics-4"></div>
		</div>
		<div class="span1">
			<label for="dynamics-5">Dynamics 5</label>
			<div id="dynamics-5"></div>
		</div>
		<div class="span1">
			<label for="dynamics-6">Dynamics 6</label>
			<div id="dynamics-6"></div>
		</div>
		<div class="span1">
			<label for="dynamics-7">Dynamics 7</label>
			<div id="dynamics-7"></div>
		</div>
		<div class="span1">
			<label for="dynamics-8">Dynamics 8</label>
			<div id="dynamics-8"></div>
		</div>
	</div>

</div>


{{#extend "deferred_scripts"}}
	<script>
		var $noteDensitySlider1 = $('#note-density-1').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $noteDensitySlider2 = $('#note-density-2').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $noteDensitySlider3 = $('#note-density-3').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $noteDensitySlider4 = $('#note-density-4').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $noteDensitySlider5 = $('#note-density-5').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $noteDensitySlider6 = $('#note-density-6').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $noteDensitySlider7 = $('#note-density-7').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $noteDensitySlider8 = $('#note-density-8').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		
		
		var $chordDensitySlider1 = $('#chord-density-1').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $chordDensitySlider2 = $('#chord-density-2').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $chordDensitySlider3 = $('#chord-density-3').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $chordDensitySlider4 = $('#chord-density-4').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $chordDensitySlider5 = $('#chord-density-5').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $chordDensitySlider6 = $('#chord-density-6').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $chordDensitySlider7 = $('#chord-density-7').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $chordDensitySlider8 = $('#chord-density-8').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		
		var $dynamicsSlider1 = $('#dynamics-1').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $dynamicsSlider2 = $('#dynamics-2').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $dynamicsSlider3 = $('#dynamics-3').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $dynamicsSlider4 = $('#dynamics-4').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $dynamicsSlider5 = $('#dynamics-5').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $dynamicsSlider6 = $('#dynamics-6').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $dynamicsSlider7 = $('#dynamics-7').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		var $dynamicsSlider8 = $('#dynamics-8').slider({
		  orientation: 'vertical',
		  range: 'min',
		  min: 0,
		  max: 15,
		  value: 7
		});
		
		
		$noteDensitySlider1.on(
			"slidechange", function( event, ui ) {
				console.log('noteDensitySlider1 changed to ' + ui.value);
			});
		
		$noteDensitySlider2.on(
			"slidechange", function( event, ui ) {
				console.log('noteDensitySlider2 changed to ' + ui.value);
			});
	
		$noteDensitySlider3.on(
			"slidechange", function( event, ui ) {
				console.log('noteDensitySlider3 changed to ' + ui.value);
			});

		$noteDensitySlider4.on(
			"slidechange", function( event, ui ) {
				console.log('noteDensitySlider4 changed to ' + ui.value);
			});

		$noteDensitySlider5.on(
			"slidechange", function( event, ui ) {
				console.log('noteDensitySlider5 changed to ' + ui.value);
			});

		$noteDensitySlider6.on(
			"slidechange", function( event, ui ) {
				console.log('noteDensitySlider6 changed to ' + ui.value);
			});

		$noteDensitySlider7.on(
			"slidechange", function( event, ui ) {
				console.log('noteDensitySlider7 changed to ' + ui.value);
			});

		$noteDensitySlider8.on(
			"slidechange", function( event, ui ) {
				console.log('noteDensitySlider8 changed to ' + ui.value);
			});

	
		$chordDensitySlider1.on(
			"slidechange", function( event, ui ) {
				console.log('chordDensitySlider1 changed to ' + ui.value);
			});
		
		$chordDensitySlider2.on(
			"slidechange", function( event, ui ) {
				console.log('chordDensitySlider2 changed to ' + ui.value);
			});
	
		$chordDensitySlider3.on(
			"slidechange", function( event, ui ) {
				console.log('chordDensitySlider3 changed to ' + ui.value);
			});
	
		$chordDensitySlider4.on(
			"slidechange", function( event, ui ) {
				console.log('chordDensitySlider4 changed to ' + ui.value);
			});
		
		$chordDensitySlider5.on(
			"slidechange", function( event, ui ) {
				console.log('chordDensitySlider5 changed to ' + ui.value);
			});
		
		$chordDensitySlider6.on(
			"slidechange", function( event, ui ) {
				console.log('chordDensitySlider6 changed to ' + ui.value);
			});
		
		$chordDensitySlider7.on(
			"slidechange", function( event, ui ) {
				console.log('chordDensitySlider7 changed to ' + ui.value);
			});

		$chordDensitySlider8.on(
			"slidechange", function( event, ui ) {
				console.log('chordDensitySlider8 changed to ' + ui.value);
			});
		

		$dynamicsSlider1.on(
			"slidechange", function( event, ui ) {
				console.log('dynamicsSlider1 changed to ' + ui.value);
			});

		$dynamicsSlider2.on(
			"slidechange", function( event, ui ) {
				console.log('dynamicsSlider2 changed to ' + ui.value);
			});

		$dynamicsSlider3.on(
			"slidechange", function( event, ui ) {
				console.log('dynamicsSlider3 changed to ' + ui.value);
			});

		$dynamicsSlider4.on(
			"slidechange", function( event, ui ) {
				console.log('dynamicsSlider4 changed to ' + ui.value);
			});

		$dynamicsSlider5.on(
			"slidechange", function( event, ui ) {
				console.log('dynamicsSlider5 changed to ' + ui.value);
			});

		$dynamicsSlider6.on(
			"slidechange", function( event, ui ) {
				console.log('dynamicsSlider6 changed to ' + ui.value);
			});

		$dynamicsSlider7.on(
			"slidechange", function( event, ui ) {
				console.log('dynamicsSlider7 changed to ' + ui.value);
			});

		$dynamicsSlider8.on(
			"slidechange", function( event, ui ) {
				console.log('dynamicsSlider8 changed to ' + ui.value);
			});

			
		socket.on("init", function(data) {
		  settings = data.state;
		  role = data.role;
			/*
			$noteDensitySlider1.slider( "value", 55 );
			$noteDensitySlider2.slider( "value", 55 );
			$noteDensitySlider3.slider( "value", 55 );
			$noteDensitySlider4.slider( "value", 55 );
			$noteDensitySlider5.slider( "value", 55 );
			$noteDensitySlider6.slider( "value", 55 );
			$noteDensitySlider7.slider( "value", 55 );
			$noteDensitySlider8.slider( "value", 55 );
			
			$chordDensitySlider1.slider( "value", 55 );
			$chordDensitySlider2.slider( "value", 55 );
			$chordDensitySlider3.slider( "value", 55 );
			$chordDensitySlider4.slider( "value", 55 );
			$chordDensitySlider5.slider( "value", 55 );
			$chordDensitySlider6.slider( "value", 55 );
			$chordDensitySlider7.slider( "value", 55 );
			$chordDensitySlider8.slider( "value", 55 );
			
			$dynamicsSlider1.slider( "value", 55 );
			$dynamicsSlider2.slider( "value", 55 );
			$dynamicsSlider3.slider( "value", 55 );
			$dynamicsSlider4.slider( "value", 55 );
			$dynamicsSlider5.slider( "value", 55 );
			$dynamicsSlider6.slider( "value", 55 );
			$dynamicsSlider7.slider( "value", 55 );
			$dynamicsSlider8.slider( "value", 55 );
			*/
		});
	</script>
{{/extend}}